// Custom sass ..
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Reset ENDS ...*/

@font-face {
  font-family: 'Overpass Regular'; /*a name to be used later*/
  src: url('../fonts/overpass/overpass-regular.ttf'); /*URL to font*/
  font-family: 'Overpass Semibold'; /*a name to be used later*/
  src: url('../fonts/overpass/overpass-semibold.ttf'); /*URL to font*/
  font-family: 'Overpass Semibold Italic'; /*a name to be used later*/
  src: url('../fonts/overpass/Overpass-SemiBoldItalic.ttf'); /*URL to font*/
  font-family: 'Overpass Bold'; /*a name to be used later*/
  src: url('../fonts/overpass/overpass-bold.ttf'); /*URL to font*/
  font-family: 'Overpass Extra Bold'; /*a name to be used later*/
  src: url('../fonts/overpass/overpass-extrabold.ttf'); /*URL to font*/
  font-family: 'Overpass Black'; /*a name to be used later*/
  src: url('../fonts/overpass/overpass-black.ttf'); /*URL to font*/
}

.backgroundImg {
  width: 100%;
  height: auto;
}

/* Header  */
.header{
    position: fixed;
    width: 100%;
    background-color: rgba(191, 191, 191, 0.4);
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hamburger {
    display: none;
    padding-right: 5%;
  }

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
}

.nav-item {
  font-family: 'Overpass Semibold';
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    text-decoration: none;
}

.nav-link:hover{
    color: #444444;
}

.fa-home {
  font-size: 40px;
  text-decoration: none;
  color: #444444;
  padding-left: 1%;
}

.fa-home:hover {
  color: #444444;
}

.about,
.dropBtn,
.contactBtn {
  background: none;
  color: inherit;
  border: none;
	outline: inherit;
  font-family: 'Overpass Black';
  padding-top: 20px;
}

.about,
.contactBtn {
  text-decoration: none;
  font-family: 'Overpass Black';
  font-size: 180%;
  color: #444444;
  line-height: 0.5;
}

.design-mob a,
.web-mob a,
.photo-mob a {
  font-family: 'Overpass Black';
    font-size: 180%;
    color: #444444;
    text-decoration: none;
}

.contactBtn a {
  text-decoration: none;
  color: #444444;
}

.dropBtn {
  font-size: 180%;
  border: none;
  color: #444444;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 200%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Overpass Semibold';
  font-size: 150%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header Ends */

/* Home Page */
.bg1 img {
  width: 100%;
  height: auto;
}

.bg1 {
  background-image: url("../img/bg.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  margin-top: -10%;
  font-size: 350%;
  font-family: 'Overpass Black';
  color: #3d3d63;
  text-align: center;
}

.passionateCont {
  display: flex;
  justify-content: center;
  font-family: 'Overpass Black';
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.passionate {
  font-family: 'Overpass Black';
  text-align: center;
  font-size: 40px;
}

.me-cont {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.me-cont img {
   width: 15%;
   height: auto;
   filter: drop-shadow(2px 2px 2px  #444444);
}

.me-cont img {
  border-radius: 50%;
}

.port-head {
  position: absolute;
  text-align: center;
  font-size: 65px;
  font-family: 'Overpass';
}

.portfolioBtns {
  display: flex;
  justify-content: center;
  margin-top: -6%;
  width: 100%;
  position: absolute;
  margin-top: -14%;
  padding-left: 10%;
  padding-right: 10%;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* .portfolioBtns svg:hover {
  fill: #22314e;
} */

.graphicContainer,
.webContainer,
.photoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.skills {
  display: flex;
  justify-content: center;
  margin-top: -6%;
  width: 85%;
  padding-left: 15%;
  position: absolute;
}

.js,
.html,
.adobe,
.ux,
.ui {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.secondBg {
  width: 100%;
}

.aboutHeading {
  font-size: 350%;
  padding-bottom: 3%;
  font-family: 'Overpass Black';
}

.aboutMe {
  font-family: 'Overpass';
  font-size: 200%;
}

.aboutSkills {
  padding-top: 8%;
  font-size: 350%;
  font-family: 'Overpass Black';
}

.aboutCont {
  padding-top: 15%;
  padding-bottom: 8%;
  text-align: center;
  width: 60%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* About & Skills Ends */
/* Contact Details */

.secondBg {
  background-image: url("../img/bg2.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactCont {
  margin-top: -35%;
}

.contact-head {
  text-align: center;
  font-family: 'Overpass Black';
  font-size: 400%;
  padding-bottom: 3%;
  color: white;
}

.contact-info-cont {
  display: flex;
  justify-content: center;
  background-color: rgba(191, 191, 191, 0.4);
  border-radius: 20px;
  padding: 5%;
  width: 80%;
  margin: auto;
}

.contact-icons,
.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 200%;
}

.contact-info {
  font-family: 'Overpass';
}

.contact-info a {
  text-decoration: none;
  color: white;
  padding-bottom: 5%;
}

.website:hover,
.instagram:hover,
.linkedin:hover {
  /* color: #444444; */
}


.contact-icons {
  padding-right: 1%;
  color: white;
}

.contact-icons p {
  padding-bottom: 40%;
}


.fa-phone,
.fa-envelope,
.fa-link,
.fa-instagram,
.fa-linkedin-square {
/* margin-right: 4%; */
}


/* --------------------HOME PAGE ENDS-------------------- */
/* --------------------PHOTO PAGE-------------------- */

hr {
  height: 4px;
  background: #444444;
}

.burger {
  display: none;
}

.burger-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  width: 100%;
  margin-left: -45%;
  font-size: 140%;
}

.burger-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Overpass';
}

.burger-content a:hover {
  background-color: #ddd;

}

.burger:hover .burger-content {
  display: block;
}

.photo-head {
  text-align: center;
  padding-top: 3%;
  font-family: 'Overpass';
  font-size: 40px;
}

.fa-bars {
  padding: 20px;
  font-size: 30px;
  color: #444444;
}

.burgerDrop {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.photo-section-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}

.photo-section-btns button {
  background: none;
  border: none;
  font-family: 'Overpass';
  font-size: 30px;
  border-bottom: 6px solid white;
}

.photo-section-btns button:hover {
  background: none;
  border: none;
  font-family: 'Overpass';
  font-size: 30px;
  border-bottom: 6px solid black;
}

.photo-head-2,
.photo-head-3 {
  text-align: center;
  font-size: 300%;
  font-family: 'Overpass';
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.photo-head-3 {
  padding-top: 2%;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8,
.row-9,
.row-10,
.row-11 {
  width: 90%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
}

.row-1-a,
.row-1-b,
.row-3-a,
.row-3-b,
.row-4-a,
.row-4-b,
.row-5-a,
.row-5-b,
.row-6-a,
.row-6-b,
.row-7-a,
.row-7-b,
.row-9-a,
.row-9-b,
.row-10-a,
.row-10-b {
  position: relative;
  width: 46.8%;
  height: 100%;
}

.row-2-a,
.row-2-b,
.row-2-c,
.row-8-a,
.row-8-b,
.row-8-c,
.row-11-a,
.row-11-b,
.row-11-c  {
  width: 30%;
  height: auto;
  position: relative;
}

.row-11 {
  padding-bottom: 5%;
}
/* --------------------PHOTO PAGE ENDS-------------------- */
/* --------------------DESIGN PAGE-------------------- */

.graphic-head h2 {
  text-align: center;
  font-family: 'Overpass Semibold';
  font-size: 400%;
  color: #444444;

}

.graphic-head {
  padding-top: 3.5%;
  padding-bottom: 1.5%;
  display: flex;
  justify-content: center;
  background-color: #fff0d4;
  width: 100%;
  top: 0;
  bottom:0;
  margin: auto;
}

.project-1-head,
.project-2-head,
.project-3-head,
.project-4-head {
  text-align: center;
  font-family: 'Overpass';
  font-size: 300%;
  width: 50%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  margin-top: 1%;
  padding-top: 1%;
}

.project-1-head,
.project-1-about-info {
  color: #fff0d4;
  padding-top: 2%;
}

.project-2-head,
.project-2-about-info {
  color: #dedacc;
  padding-top: 2%;
}

.project-3-head,
.project-3-about-info {
  color: #36443c;
  padding-top: 2%;
}

.project-4-head,
.project-4-about-info {
  color: #00416b;
  padding-top: 2%;
}

.project-about {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Overpass Semibold';
  font-size: 200%;
  width: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 3%;
  padding-top: 2%;
}

.projectOneCont {
  background-color: #fd9a88;
  margin-top: -1%;
  padding-bottom: 4%;
}

.projectTwoCont {
  background-color: #759b90;
  margin-top: -6%;
  padding-bottom: 4%;
}

.projectThreeCont {
  background-color: #F8F0E3;
  margin-top: -6%;
  padding-bottom: 4%;
}

.projectFourCont {
  background-color: #d0ecf6;
  margin-top: -6%;
}


/* Image Slider */

.image-slider-1,
.image-slider-2,
.image-slider-3,
.image-slider-4 {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  width: 100%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.image-slider-1 img,
.image-slider-2 img,
.image-slider-3 img,
.image-slider-4 img {
  width: auto;
  height: 500px;
}

.slider-1-img,
.slider-2-img,
.slider-3-img,
.slider-4-img {
  position: relative;
}

.prev-next {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  position: sticky;
}

.left,
.right {
  height: 100%;
  width: 10%;
  border: none;
  background-color: rgba(169, 169, 169, 0.001);
  top: 0;
  bottom: 0;
  margin: auto;
}

.left:hover,
.right:hover {
  height: 100%;
  width: 10%;
  border: none;
}

.fa-angle-left,
.fa-angle-right {
  color: white;
  font-size: 600%;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  color: white;
  font-size: 600%;
  color: #444444;
}

.wave1{
  margin-top: -4%;
}

.wave2 {
  margin-top: -4%;
}

.wave3 {
  margin-top: -4%;
}

.wave4 {
  margin-top: -4%;
}

/* Graphic Design Page Ends */

/* Web Design */

.design-head h2 {
  text-align: center;
  font-family: 'Overpass';
  font-size: 400%;
  color: #2B3034;
  padding-top: 1%;
  padding-bottom: 1%;
}

.design-head {
  display: flex;
  justify-content: center;
  background-color: #EFD4CB;
  width: 100%;
}

.web-proj-1-head,
.web-proj-2-head {
  text-align: center;
  font-family: 'Overpass';
  font-weight: bold;
  font-size: 300%;
  width: 50%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  padding-top: 2%;
}

.web-proj-1-head {
  color: #F6F1E2;
}

.web-proj-2-head {
  color: #1A414D;
}

.web-image-slider-1 img,
.web-image-slider-2 img,
.web-image-slider-3 img,
.web-image-slider-4 img {
  width: auto;
  height: 500px;
}

.web-image-slider-1,
.web-image-slider-2,
.web-image-slider-3,
.web-image-slider-4 {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.liveBtn {
  display: flex;
  justify-content: center;
}

.web-proj-1 {
  background-color: #1A414D;
  padding-bottom: 6%;
}

.web-proj-2{
  background-color: #EFD4CB;
  margin-top: -6%;

}

.web-project-1-about-info {
  color: #F6F1E2;
}

.web-project-2-about {
  color: #1A414D;
  padding-bottom: 2%;
}

.liveBtn button {
  margin-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  background-color: #00ab66;
  margin: 2%;
}

.liveBtn a {
  text-decoration: none;
  color: #F6F1E2;
  font-family: 'Overpass Semibold';
  font-size: 150%;
}

.tools {
  text-align: center;
  font-family: 'Overpass Semibold';
  font-size: 130%;
  color: #F6F1E2;
  margin-top: -2%;
}

.tools-a {
  text-align: center;
  font-family: 'Overpass';
  font-size: 120%;
  color: #F6F1E2;
}

.tools-2 {
  text-align: center;
  font-family: 'Overpass Semibold';
  font-size: 150%;
  color: #1A414D;
  margin-top: -2%;
}

.tools-2-a {
  text-align: center;
  font-family: 'Overpass';
  font-size: 120%;
  color: #1A414D;
}
